.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .menu-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
  }
  
  .menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .menu-link:hover {
    color: #000000;
  }